$accent-color1: #FFFFFF;
$accent-color2: #F8F9FC;
$accent-color3: #C0BFCF;
$accent-color4: #9D9DB5;
$accent-color5: #192140;
$accent-color6: #10131C;
$accent-color7: #D7F8FF;
$accent-color8: #DCF10D;
$accent-color9: #0266FF;